<li class="chat-item{{#if fromCurrentUser}} from-me{{/if}}{{#if sending}} sending{{/if}}" data-id="{{id}}">
  <img class="avatar" width="48" height="48" src="https://www.gravatar.com/avatar/{{userId}}?d=retro&amp;s=48" srcset="https://www.gravatar.com/avatar/{{userId}}?d=retro&amp;s=96 2x, https://www.gravatar.com/avatar/{{userId}}?d=retro&amp;s=144 3x" alt="User">
  <div class="bubble">
    <p>{{text}}</p>
    <div class="meta">
      <div class="state">Sending</div>
      <time class="posted-date" datetime="{{date}}">{{readableDate}}</time>
    </div>
  </div>
</li>